/* Estilização da imagem do QR Code */
#qr-code img {
    width: 170px;
    height: 170px;
    margin-bottom: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(168, 184, 184);
}

.container {
    background-color: aliceblue;
    height: 270px;
    width: 400px;
    border-radius: 10px;
    padding: 30px;
    transition: 0.5s ease-in-out;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.container.active {
    height: 560px; /* Altura suficiente para imagem + botão */
}

.qr-header h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.qr-header p {
    color: #555;
    font-size: 0.9rem;
}

/* Formulário */
#qr-form {
    margin-top: 20px;
}

#qr-form input,
#qr-form button,
#download-btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

#qr-form input {
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-bottom: 10px;
}

#qr-form button {
    background-color: rgb(44, 128, 90);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}

/* Estilo específico do botão de Download */
#download-btn {
    background-color: #444; /* Cor neutra para diferenciar do botão de gerar */
    color: #fff;
    cursor: pointer;
    display: none;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#qr-form button:hover, 
#download-btn:hover {
    filter: brightness(1.2);
}

#qr-code {
    opacity: 0;
    pointer-events: none;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.container.active #qr-code {
    opacity: 1;
    pointer-events: all;
}

.container.active #download-btn {
    display: flex;
}
